*,
.btn {
  font-family: 'Inter', sans-serif !important;
}

.list-items .card-body {
  display: flex;
  flex-direction: column;

  .table-card {
    overflow-x: auto;
    flex: 1;
    display: flex;
    flex-direction: column;

    [data-simplebar] {
      flex: 1;
    }
  }
}
